<%= content_tag :section, class: "main #{todos_css @todos}" do %>
  <input id="toggle-all" class="toggle-all" type="checkbox" data-behavior="toggle-all">
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">
    <%= render partial: "/todos/todo.html", collection: @todos %>
  </ul>
<% end %>
